 <ons-page class="playPage" ng-controller="PlayCtrl">
  	<div class="play-page">
  		<h1>XXX story</h1>
  		<iframe width="788" height="440" src="http://www.youtube.com/embed/owpnrxCXZJ4?autohide=1&showinfo=0&controls=0&rel=0&autoplay=1" frameborder="0" allowfullscreen id="video"></iframe>
 		<p class="b-text">XXXX talks about how her life changed when her brother stabbed and killed someone and how her and her family ended up paying for his crime.</p>
 		<div class="back" ng-click="back();">back</div>
 	</div>	
</ons-page>	
