 <ons-page class="playPage" ng-controller="PlayCtrl">
  	<div class="play-page">
  		<h1>david's story</h1>
  		<iframe width="788" height="440" src="http://www.youtube.com/embed/owpnrxCXZJ4?autohide=1&showinfo=0&controls=0&rel=0&autoplay=1" frameborder="0" allowfullscreen id="video"></iframe>
 		<p class="b-text">David and his mum talk about the moment that changed their lives forever after he was stabbed in the head in a nightclub, leaving him with a serious disability.</p>
 		<div class="back" ng-click="back();">back</div>
 	</div>	
</ons-page>	
