 <ons-page class="playPage" ng-controller="PlayCtrl">
  	<div class="play-page">
  		<h1>XXX's story</h1>
  		<iframe width="788" height="440" src="http://www.youtube.com/embed/owpnrxCXZJ4?autohide=1&showinfo=0&controls=0&rel=0&autoplay=1" frameborder="0" allowfullscreen id="video"></iframe>
 		<p class="b-text">XXXX talks about her life as a gang member and just how bad things got before she realised that she needed to make a change.</p>
 		<div class="back" ng-click="back();">back</div>
 	</div>	
</ons-page>	
