 <ons-page class="playPage" ng-controller="PlayCtrl">
  	<div class="play-page">
  		<h1>charlotte's story</h1>
  		<iframe width="788" height="440" src="http://www.youtube.com/embed/owpnrxCXZJ4?autohide=1&showinfo=0&controls=0&rel=0&autoplay=1" frameborder="0" allowfullscreen id="video"></iframe>
 		<p class="b-text">Charlotte talks about how her brother ended up serving a prison sentence for murder after a friend of his stabbed and killed someone.</p>
 		<div class="back" ng-click="back();">back</div>
 	</div>	
</ons-page>	
