<div class="home-page"  ng-controller="StartCtrl">
	<h1>Talking Heads</h1>
    <img src="img/arrow.png" alt="arrow" class="arrow" />
    <h2>tap a box to <br /> play a story</h2>

    <div class="container">
	    <div class="top-video clear">	
	    	<div class="left" ng-click="box1()"> 
	    		<div class="inside">
	    			<img src="img/box1.jpg" />
	    			<p>Ex gang member</p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png" /> play elijah's story</p>
	    	</div>
	    	<div class="left" ng-click="box2()"> 
	    		<div class="inside">
	    			<img src="img/box2.jpg" />
	    			<p>Ex girl gang member</p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png"/> play my story</p>
	    	</div>
	    	<div class="left" ng-click="box3()"> 
	    		<div class="inside">
	    			<img src="img/box3.jpg" />
	    			<p>Prisoner</p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png" />play my story</p>
	    	</div>
	    	<div class="left last" ng-click="box4()"> 
	    		<div class="inside">
	    			<img src="img/box4.jpg" />
	    			<p>Victim</p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png" />play david's story</p>
	    	</div>
	    </div>
	</div>
	<div class="container2 clear">    
	    <div class="bot-video clear">
	    	<div class="left" ng-click="box5()"> 
	    		<div class="inside">
	    			<img src="img/box1.jpg" />
	    			<p></p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png"> play my story</p>
	    	</div>
	    	<div class="left" ng-click="box6()"> 
	    		<div class="inside">
	    			<img src="img/box6.jpg" />
	    			<p>Sister of killer</p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png">play charlotte's story</p>
	    	</div>
	    	<div class="left last" ng-click="box7()"> 
	    		<div class="inside">
	    			<img src="img/box1.jpg" />
	    			<p></p>
	    		</div>
	    		<p class="play-story"><img src="img/cirlce-play.png">play my's story</p>
	    	</div>
	    </div>
	</div>    
</div>